/*------------- CSS RESET -----------------------*/

*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;

}

body{
  /*width: 75%;
  max-width: 700px;*/
  font-family: 'Open Sans','Arial', sans-serif;
  /*font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman',serif;*/
  margin: auto;
  background-color: #ffffff;*/
  /*background-color: #fafafa;*/
  color: #333;
  line-height: 1.8;
  overflow-x: hidden;
  overflow-y: ;

}

@font-face {
    font-family: 'linesregular';
    src: url('lines-regular-webfont.eot');
    src: url('lines-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lines-regular-webfont.woff2') format('woff2'),
         url('lines-regular-webfont.woff') format('woff'),
         url('lines-regular-webfont.otf') format('opentype'),
         url('lines-regular-webfont.svg#linesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
}

article.nav {
  background-color: white;
  width: 100vw;
  height: 5vh;
  bottom: 2vh;
  text-align: center;
  z-index: 10;
}

ul.nav {
  text-align: center;
  width: 100vw;
  z-index: 10;
}

nav ul {
  display: inline;
  text-align: center;
  background-color: #d0d6e0;
  opacity: .8;
  position: fixed;
  bottom: 0;
}

nav li {
  display: inline-block;
  text-align: center;
  padding-left: 12vw;
  padding-right: 12vw;
  vertical-align: middle;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 2.3vh;
  text-transform: uppercase;
}

nav img {
  width: auto;
  height: 4vh;
  padding-top: .7vh;
  padding-bottom: .7vh;
}

nav img:hover {
  opacity: .6;
}

nav a {
    text-decoration: none;
    color: #333333;
}

nav a:hover{
  border-bottom: none;
  color: #a6a6a6;
}


article.background {
  background: url(../images/background.jpg);
  background-size: cover;
  z-index: -1;
}

article.one {
  width: 100vw;
  height: 100vh;
  background: url(../images/neptune.png) no-repeat 65vw center;
  background-size: 30vw;
  z-index: -1;
}

article.two {
  height: 100vh;
  width: 100vw;
  background: url(../images/uranus.png) no-repeat 65vw center;
  background-size: 30vw;
  z-index: -1;

}

article.three {
  height: 100vh;
  width: 100vw;
  background: url(../images/saturn.png) no-repeat 65vw center;
  background-size: cover;
  background-size: 30vw;
  z-index: -1;

}

article.four {
  height: 100vh;
  width: 100vw;
  background: url(../images/jupiter.png) no-repeat 65vw center;
  background-size: cover;
  background-size: 30vw;
  z-index: -1;

}

article.five {
  height: 100vh;
  width: 100vw;
  background: url(../images/mercury.png) no-repeat 65vw center;
  background-size: cover;
  background-size: 30vw;
  z-index: -1;

}

article.six {
  height: 100vh;
  width: 100vw;
  background: url(../images/venus.png) no-repeat 65vw center;
  background-size: cover;
  background-size: 30vw;
  z-index: -1;

}

article.seven {
  height: 100vh;
  width: 100vw;
  background: url(../images/mars.png) no-repeat 65vw center;
  background-size: cover;
  background-size: 30vw;
  z-index: -1;

}

article.eight {
  height: 100vh;
  width: 100vw;
  /*background: url(../images/earth-flat.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;*/
  z-index: -1;
}

div.earth {
  width: 100vw;
  height: 22vh;
  position: ;
  overflow-y: hidden;
}

img.earth {
  width: 100vw;
  height: auto;
  position: relative;
  bottom: vh;
  overflow-y: hidden;
}

div.title {
  width: 40vw;
  height: auto;
  margin-left: 60vw;
  padding-top: 3vh;
}

h2 {
  font-family: 'Lines', sans-serif;
  font-size: 9vw;
  line-height: 15vh;
  color: white;
}

article.rocket {
  position: sticky;
  width: auto;
  height: auto%;
  padding-left: ;
  padding-top: ;
  z-index: ;
}

img.rocket {
  position:  fixed;
  height: 70vh;
  width: auto;
  padding-left: 11vw;
  padding-top: 16vh;
  z-index: 7;
}

div.astro {
  position: absolute;
  z-index: 3;
  margin-left: 32vw;
  padding-top: 56vh;
}

img.astro {
  height: 30vh;
  width: auto;
  z-index: 3;
}

article.mars {
  margin-left: 40vw;
  padding-top: 40vh;
}

img.mars {
  height: 45vh;
  width: auto;
}

article.venus {
  margin-left: 50vw;
  padding-top: 30vh;
}

img.venus {
  height: 50vh;
  width: auto;
}

article.mercury {
  margin-left: 40vw;
  padding-top: 35vh;
}

img.mercury {
  height: 45vh;
  width: auto;
}

article.jupiter {
  margin-left: 35vw;
  padding-top: 50vh;
}

img.jupiter {
  height: auto;
  width: 25vw;
}

article.saturn {
  margin-left: 35vw;
  padding-top: 40vh;
}

img.saturn {
  height: 35vh;
  width: auto;
}

article.uranus {
  margin-left: 35vw;
  padding-top: 40vh;
}

img.uranus {
  height: 40vh;
  width: auto;
}

article.neptune {
  margin-left: 40vw;
  padding-top: 30vh;
}

img.neptune {
  height: 45vh;
  width: auto;
}

article.download-bg {
  /*background: url(../images/background.jpg);
  background-size: cover;*/
  height: 100vh;
  width: 100vw;
}

article.download {
  margin-left: 40vw;
  padding-top: 20vh;
  position: absolute;
}

h3 {
  font-family: 'Lines';
  color: #333333;
  font-size: 5vw;
}

p {
  font-family: 'Open Sans Light';
  color: #a6a6a6;
  font-size: 1.5vw;
  padding-top: 2.5vh;
  line-height: 3.5vh;
  width: 30vw;
}

.button {
  display: inline-block;
  background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    font-family: 'Open Sans Light';
    margin-top: 5vh;
}

.button:hover {
  background-color: #a6a6a6;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

.donate-button img{
  margin-top: 3vh;
  display: inline-block;
  width: 2vw;
  height: auto;
}

.donate-button-2 {
  display: inline-block;
  width: 7.85vw;
  height: auto;
}

.donate-button-2:hover {
  opacity: .6;
}

article.licence {
  width: 100vw;
  text-align: center;
}

p.licence {
  opacity: .7;
  position: absolute;
  bottom: 1vh;
  width: 100vw;
  font-size: 1vw;
}

.link {
  color: #a6a6a6;
  text-decoration: underline;
}

.link:hover {
  opacity: .5;
}

img.dl-rocket {
  position:  fixed;
  height: 70vh;
  width: auto;
  padding-left: 20vw;
  padding-top: 16vh;
  z-index: 7;
}

a.link {
  
}
